<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:remove="all">Register Confirmation</title>
</head>

<body>

<p> Seja Bem-vindo ao PasswordManager, <strong th:text="${registration.name}"></strong>! </p>

<p> Seu cadastro está quase pronto. <br/> Clique no link abaixo para finalizar o seu cadastro: </p>

<p> <a th:text="${registration.link}" th:href="${registration.link}"></a> </p>

<p> Email: <b th:text="${registration.email}"></b> </p>

<p> Cumprimentos,<br />PasswordManager Team </p>

</body>

</html>