<ion-header translucent>
  <ion-toolbar *ngIf="!showToolbar">
    <!-- buttons top left -->
    <ion-buttons slot="start">
      <!-- button openmenu -->
      <ion-menu-button menu="mh-menu-principal"></ion-menu-button>
    </ion-buttons>

    <!-- buttons top right -->
    <ion-buttons slot="end" *ngIf="searchButton">
      <!-- button search -->
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>

    <!-- title toolbar -->
    <ion-title size="large">
      {{ title }}
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-header collapse="condense">
    <!-- visible on iOS mode -->
    <ion-toolbar *ngIf="!showToolbar">
      <!-- title size toolbar -->
      <ion-title size="large">
        {{ title }}
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- content -->
  <ng-content></ng-content>
  <!-- end content -->
</ion-content>
