<!DOCTYPE html>

<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <base th:href="${baseHref}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>PasswordManager Authorization</title>
    <!-- styles -->
    <link rel="stylesheet" href="content/css/bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="content/css/animate/animate.min.css"/>
    <link rel="stylesheet" href="content/css/base-theme.css"/>
</head>

<body>

<main class="panel-window w-100">
    <div class="panel-home mb-2 px-3 py-2 rounded animate__animated animate__fadeInDown animate__delay-1s">
        <div class="d-flex justify-content-between align-items-center">
            <span class="navbar-text">
                Olá, <strong th:if="${userDetails != null}" th:text="${#strings.capitalize(#strings.toLowerCase(userDetails.username))}">Usuário</strong>
            </span>
            <div class="d-flex">
                <form th:action="@{/logout}" method="post">
                    <button type="submit" class="btn btn-danger btn-sm">Sair</button>
                </form>
            </div>
        </div>
    </div>
    <div class="panel-home mb-2 px-3 py-2 animate__animated animate__fadeInDown animate__delay-2s">
        <div class="logo-field"></div>
        <div class="title-field pb-3">
            <span class="h2">PasswordManager</span>
        </div>
        <div class="pb-2">
                <span>
                    Bem-vindo ao PasswordManager, sua solução definitiva para gerenciamento seguro de senhas.
                </span>
        </div>
    </div>
    <div class="panel-home mb-2 px-3 py-2 animate__animated animate__fadeInDown animate__delay-3s">
        <div class="pb-2">
            <span class="h3">Aplicativos</span>
            <div class="pb-2">
                <span>
                    Gostaria de ser redirecionado para uma aplicação? Veja abaixo suas aplicações disponíveis.
                </span>
            </div>
            <ul class="icon-list ps-0 pt-2">
                <li class="text-muted d-flex align-items-start mb-1">
                    <a href="/mypass-manager/auth/swagger-ui.html">SwaggerUI - OAuth2Server</a>
                </li>
                <li class="text-muted d-flex align-items-start mb-1">
                    <a href="/mypass-manager/users/swagger-ui.html">SwaggerUI - UserService</a>
                </li>
                <li class="text-muted d-flex align-items-start mb-1">
                    <a href="/mypass-manager/passwords/swagger-ui.html">SwaggerUI - PasswordService</a>
                </li>
                <li class="text-muted d-flex align-items-start mb-1">
                    <a href="/mypass-manager/files/swagger-ui.html">SwaggerUI - FileService</a>
                </li>
                <li class="text-muted d-flex align-items-start mb-1">
                    <a href="/mypass-manager/emails/swagger-ui.html">SwaggerUI - EmailService</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="terms-field">
        <p class="mb-2 text-muted d-flex justify-content-around">
            <a href="#" target="_blank" rel="noopener noreferrer">Licença</a>
            <a href="#" target="_blank" rel="noopener noreferrer" class="mx-3">Termos de Uso</a>
            <a href="#" target="_blank" rel="noopener noreferrer">Sobre Nós</a>
        </p>
        <p class="mb-2 text-muted d-flex justify-content-around">
            <span>
               <a rel="noopener noreferrer" target="_blank" href="https://github.com/marcoshssilva">marcoshssilva.dev</a>
            </span>
        </p>
    </div>
</main>
<section id="notifications" style="z-index: 7000;" class="toast-container position-fixed top-0 end-0 p-5"></section>
<!-- scripts -->
<script src="content/js/bootstrap/bootstrap.bundle.min.js"></script>
<script src="content/js/notifications.js"></script>

</body>

</html>
