<!DOCTYPE html>

<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <base th:href="${baseHref}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>PasswordManager Authorization - Change Mail</title>
    <!-- styles -->
    <link rel="stylesheet" href="content/css/bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="content/css/animate/animate.min.css"/>
    <link rel="stylesheet" href="content/css/login.css"/>
</head>

<body>

<div class="col-lg-8 mx-auto p-4 py-md-5">
    <header class="d-flex align-items-center pb-3 mb-5 border-bottom justify-content-between">
        <a th:href="${baseHref}" class="d-flex align-items-center text-dark text-decoration-none">
            <span class="fs-5">
                Olá,
                <span th:text="${userDetails.username}"></span>!
            </span>

        </a>
        <a class="btn btn-danger" th:href="${baseHref + 'logout'}">Sair</a>
    </header>

    <main class="container">
        <h1>PasswordManager</h1>
        <p class="fs-5 col-md-8">
            Armazene suas credenciais de forma segura e confiável. Utilizamos as mais recentes tecnologias de criptografia para garantir que suas senhas e informações permaneçam completamente seguras.
        </p>

        <hr class="col-3 col-md-2 mb-5">

        <div class="row g-5">
            <div class="col-md-6">
                <h2>Alterar seu endereço de email</h2>
                <form id="formUpdateMail" action="">
                    <div class="mb-3">
                        <label for="inputUpdateMailActualPassword" class="form-label">Insira a senha da sua conta</label>
                        <input type="password" class="form-control" id="inputUpdateMailActualPassword" name="actualPassword" placeholder="Digite a senha atual">
                        <a class="ms-3" data-bs-toggle="offcanvas" href="#offcanvas-forgot-password-minified" role="button"
                           aria-controls="offcanvasForgotPassword">
                            Esqueci a senha?
                        </a>
                    </div>
                    <div class="mb-3">
                        <label for="inputUpdateMailNewMail" class="form-label">Seu novo endereço de email</label>
                        <input type="password" class="form-control" id="inputUpdateMailNewMail" name="newMail>" placeholder="me@meuemail.com">
                    </div>
                    <div class="mb-3">
                        <label for="inputUpdateMailConfirmNewMail" class="form-label">Confirme novamente seu novo endereço de email</label>
                        <input type="password" class="form-control" id="inputUpdateMailConfirmNewMail" name="confirmNewMail" placeholder="me@meuemail.com">
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary">Confirmar</button>
                        <button type="reset" class="btn btn-link">Limpar</button>
                    </div>
                </form>
            </div>

            <div class="col-md-6">
                <h2>Conta</h2>
                <p>Realize alterações na sua conta ou atualize os seus dados.</p>
                <ul class="icon-list ps-0">
                    <li class="d-flex align-items-start mb-1">
                        <a th:href="${baseHref + 'update/mail'}">Alterar seu endereço de email</a>
                    </li>
                    <li class="d-flex align-items-start mb-1">
                        <a th:href="${baseHref + 'update/password'}">Alterar sua senha</a>
                    </li>
                    <li class="d-flex align-items-start mb-1">
                        <a th:href="${baseHref + 'update/image'}">Mudar a imagem de perfil</a>
                    </li>
                    <li class="d-flex align-items-start mb-1">
                        <a th:href="${baseHref + 'update/profile'}">Atualizar os dados pessoais da conta</a>
                    </li>
                    <li class="d-flex align-items-start mb-1">
                        <a th:href="${baseHref + 'update/authorizations'}">Gerenciar suas autorizações</a>
                    </li>
                    <!--
                    <li class="text-muted d-flex align-items-start mb-1">Gerenciar suas autorizações</li>
                    -->
                </ul>
            </div>
        </div>
    </main>
    <footer class="pt-5 my-5 text-muted border-top">
        <a target="_blank" href="https://github.com/marcoshssilva">marcoshssilva.dev</a> &middot; &copy; 2023-2025
    </footer>
</div>
<section class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas-forgot-password-minified"
         aria-labelledby="panelForgotPasswordLabel">
    <div class="offcanvas-body p-0 m-0 row">
        <div class="panel-forgot-password-minified col p-5 shadow-lg" style="z-index: 10;">
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            <h1 class="display-5 mt-3 mb-4">Esqueci minha senha</h1>
            <h5>Redefinir senha</h5>
            <p style="text-align: justify">
                Para redefinir sua senha, informe o usuário ou email cadastrado na sua conta e lhe
                enviaremos um link com as instruções necessárias para que você possa recuperar sua conta
                de forma segura.
            </p>
            <form th:action="@{/login}" method="post" class="needs-validation" novalidate id="formForgotPasswordStep1">
                <div class="row my-4">
                    <div class="col input-group">
                        <input id="credentials-forgot-password" type="text" minlength="8" class="form-control"
                               placeholder="informe seu usuario/email aqui..."
                               aria-label="informe seu usuario/email aqui..." th:name="identification" required/>
                        <button type="submit" class="btn btn-primary">
                            Próximo
                        </button>
                    </div>
                </div>
            </form>
            <hr>
            <div class="row mt-1 mb-3">
                <p class="py-0 my-0" id="block-skip-step2">
                    Já possui um código de recuperação?&nbsp;
                    <a type="button" id="btnSkipToStep2" class="btn-link">Clique aqui.</a>
                </p>
                <form th:action="@{/login}" method="post" class="d-none needs-validation" novalidate
                      id="formForgotPasswordStep2">
                    <p class="lead">
                        Confirme seu código recebido por e-mail e digite sua nova senha.
                    </p>
                    <div class="row my-3">
                        <div class="col">
                            <label for="codeStep2" class="h5">Seu código de confirmação:</label>
                            <input id="codeStep2" type="text" minlength="8" class="form-control"
                                   placeholder="000-000-000" aria-label="000-000-000"
                                   th:name="code" required/>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col">
                            <label for="passwordStep2" class="h5">Sua senha:</label>
                            <input id="passwordStep2" type="password" minlength="8" class="form-control"
                                   placeholder="Your New Password" aria-label="Your New Password"
                                   th:name="password" required/>
                        </div>
                    </div>
                    <div class="row my-3"></div>
                    <div class="col">
                        <label for="passwordConfirmStep2" class="h5">Sua senha novamente:</label>
                        <input id="passwordConfirmStep2" type="password" minlength="8" class="form-control"
                               placeholder="Your New Password" aria-label="Your New Password"
                               th:name="passwordConfirm" required/>
                    </div>
                    <div class="row my-3">
                        <div class="col">
                            <button type="submit" class="btn btn-primary">
                                Finalizar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<section id="notifications" style="z-index: 7000;" class="toast-container position-fixed top-0 end-0 p-5"></section>
<!-- scripts -->
<script src="content/js/bootstrap/bootstrap.bundle.min.js"></script>
<script src="content/js/notifications.js"></script>
<script src="content/js/formRegister.js"></script>
<script src="content/js/formLogin.js"></script>
<script src="content/js/formForgotPassword.js"></script>

</body>
